<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582298266817-eqipd9pdd3717cupputu257gv76s8hma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582298266817-eqipd9pdd3717cupputu257gv76s8hma</string>
	<key>API_KEY</key>
	<string>AIzaSyDlFloV7ztWM1ZzR_fKi0Ln_-hvBGz09IQ</string>
	<key>GCM_SENDER_ID</key>
	<string>582298266817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.generali.notifizer</string>
	<key>PROJECT_ID</key>
	<string>notificazer</string>
	<key>STORAGE_BUCKET</key>
	<string>notificazer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582298266817:ios:4cd2de1994c024dc</string>
	<key>DATABASE_URL</key>
	<string>https://notificazer.firebaseio.com</string>
</dict>
</plist>